@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Your enquiry for this car has beed recorded.<br/><br />Thank you.</h1>

<div class="col-md-12">
    <div class="row text-success">
        <div class="col-md-9">@Html.ActionLink("Back to List", "Index")</div>
    </div>
</div>